body {
	background-image: url('../resources/arriereplan.png');
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}

.game {
	z-index: -5;
}


.game .infos img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game .tower, .game .follow-tower, .game .monster {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	text-align: center;
}


.game .tower img, .game .follow-tower img, .game .monster img {
	width: 60px;
	height: 60px;
}

.game .tower img{
	margin-left: -25px;
	margin-top: -50px;
	width: 120px;
	height: 120px;
}

.game .monster .progress-bar {
	margin-top: 5px;
}

.game .monster .progress-bar.target {
	background-color: #008000;
}

.game .monster .money {
	text-align: center;
	display: none;
}

.game .area {
	display: none;
	position: absolute;
	background-color: rgba(100,100,100,0.1);
	z-index: 0;
}

.game .follow-tower {
	display: none;
}

.game .follow-tower .area {
	display: block;
}

.game .shot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
}

.game .path {
	position: absolute;
	z-index:0;
	cursor: not-allowed;
}

.game .path div {
	position: absolute;
	background-color: #b87306;
	opacity: 1;
}

.game-constructor {
	width: 100%;
	height: 150px;
	position: fixed;
	bottom: 0px;
	background-color: rgb(51, 51, 51);
	color:white;
	z-index: 2;
	text-align: center;
	padding: 20px;
}

.game-constructor .tower img.tower {
	max-height: 70px;
}

.game-constructor .tower img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game-constructor .tower.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.game-constructor .infos {
    margin-top: -200px;
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    padding: 10px;
	background-color: rgb(51, 51, 51);
	color:white;
    display: none;
}

.game-constructor .infos p {
	font-size: 11pt;
	color:white;
}



/* Design accueil du jeu */

.logo{
	width: 80px;
}

.intro{
	display: flex;
	align-items: center;
	margin: 0 auto;
}

#jouer{
	display: none;
	background-color: #b87306;
	padding: 20px 30px;
	border-radius: 10px;
	color: white;
	text-align: center;
	border-style: solid;
	cursor: pointer;
}

#jouer a{
	justify-content: center;
}

.accueil{
	background-color: #ffffff;
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 10vh;
}

.accueil h1{
	margin-bottom: 20px;
	font-size: 35px;
	margin: 0 0 0 20px;
}

.accueil h2{
	font-size: 18px;
}

.accueil .liste-createurs{
	margin-top: 30px;

}
.accueil .liste-createurs ul{
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}

.difficult{
	text-align: center;
}

.choice{
	padding: 10px 30px;
	border-radius: 10px;
	margin: 20px 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.normal{
	border: rgb(62, 105, 185);
	border-style: solid;
}

.normal:hover{
	background-color: rgb(62, 105, 185);
	color: white;
}

.easy{
	border: rgb(19, 139, 65);
	border-style: solid;
}

.easy:hover{
	background-color: rgb(19, 139, 65);
	color: white;
}

.hard:hover{
	background-color: rgb(129, 19, 19);
	color: white;
}

.hard{
	border: rgb(129, 19, 19);
	border-style: solid;
}

.game{
	display: none;
}

.game-constructor{
	display: none;
}

#gameover{
	background-color: #ffffff;
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 10vh;
	display:none;
}
#winning{
	background-color: #ffffff;
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 10vh;
	display:none;
}

#gameover h1{
	margin-bottom: 20px;
	font-size: 35px;
	margin: 0 0 0 20px;
	text-align: center;
}

#winning h1{
	margin-bottom: 20px;
	font-size: 35px;
	margin: 0 0 0 20px;
	text-align: center;
}

#Replay{
	border: rgb(10, 10, 10);
	border-style: solid;
		padding: 10px 30px;
	border-radius: 10px;
	margin: 20px 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

#Replay:hover{
	background-color: rgb(62, 105, 185);
	color: white;
	
}

#Replay2{
	border: rgb(10, 10, 10);
	border-style: solid;
		padding: 10px 30px;
	border-radius: 10px;
	margin: 20px 0;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

#Replay2:hover{
	background-color: rgb(62, 105, 185);
	color: white;
	
}
.buttonStart{
	border: rgb(62, 105, 185);
	border-style: solid;
}

.buttonStart:hover{
	background-color: rgb(62, 105, 185);
	color: white;
}
/* Design top barre vie money... */


.infos ul{
	list-style-type: none;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	background-color: rgb(51, 51, 51);
	color: white;
	width: 500px;
	right: 0px;
	border-radius: 10px;
	padding-left: 0;
	margin: 10px 10px 0 0
}

.game .infos {
	display: block;
	position: fixed;
	height: 65px;
	z-index: 1;
	right: 0;
}
